body {
  font-size: .8em;
}

.header-search {
  min-width: 400px;
}

.navbar-brand img {
  max-width: 50px;	
}

.column {
  margin: 0;
}

.column h4 {
  background-color: #53ac48;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0;
  font-size: 1.3em;
}

.table thead th {
  border: 0;
}

.mt-100 {
  margin-top: 100px;
}

.table td,
.table th {
  border: 0;
  padding-left: .3rem;
  padding-right: .3rem;
}

.table {
  border-top: 0;
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
}

.info-column {
  margin: 0;
  background-color: #f9f9f9;
  border: 1px solid #D5D5D5;
  padding: 20px 0;
}

.info-column p {
  line-height: 25px;
  max-height: 25px;
}

.btn-sm {
  font-size: .7rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

.form-control {
  font-size: .8rem;
}

.btn {
  font-size: .8rem;
}

.la-1x {
  font-size: 1.2em;
}

.la.icon-link {
  padding: 0;
  cursor: pointer;
}

.la:hover.icon-link {
  padding: 0;
  color: green;
}

.la:hover.icon-link.delete {
  color: red;
}

.input-group {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 100px;
}

.form-check {
  padding: 5px 10px;
}

.form-check label {
  font-size: 14px;
}

.separator {
  margin: 5px 15px 25px 15px;
  width: 100%;
  height: 9px;
  border-bottom: 1px solid #D5D5D5;
  text-align: center;
}

.separator-text {
  line-height: 14px;
  background-color: #fff;
  font-size: 14px;
  color: #D5D5D5;
  padding: 0 10px;
}

.btn.btn-link {
  padding: 0 !important;
  border: 0 !important;
}

.scroll-list {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

ul ul {
  width: 100%;
}

.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
  display: none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.dropdown-menu {
  font-size: .8rem;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  padding: 3px 1rem;
}

.dropdown-header {
  padding: .5rem 1rem .1rem 1rem;
  font-size: .8rem;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #464a4c;
}

.w-30 {
  width: 33%;
}

.max-w-90 {
  max-width: 90%;
}

td.extern-address {
  color: rgba(0, 0, 0, .5);
}

.nav-tabs {
  background-color: #53ac48;
  color: white;
  width: 100%;
  padding: 10px 10px 0 10px;
  border-radius: 0;
  margin: 0;
  font-size: 1em;
  border: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: 0;
  border-bottom: 1px solid #fff;
}

.nav-tabs .nav-link {
  color: #fff;
}

.info-table {
  display: table;
  width: 100%;
  border: 1px solid #EEEEEE;
}

.info-row {
  display: table-row;
  width: 100%;
}

.info-name {
  white-space: nowrap;
  text-align: right;
  display: table-cell;
  max-width: 20% !important;
  background-color: rgba(0, 0, 0, .05);
  padding: 6px 10px 6px 4px;
  vertical-align: middle;
  border-top: 1px solid #fff;
  font-weight: 500;
}

.info-value {
  white-space: nowrap;
  text-align: left;
  display: table-cell;
  width: 80%;
  padding: 6px 4px 6px 10px;
  vertical-align: middle;
  border-top: 1px solid #EEEEEE;
}

.info-row:first-child .info-name,
.info-row:first-child .info-value {
  border-top: 0;
}

.memberActionIcon {
  font-size: .9rem;
  padding: 0 5px;
  margin: 0 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, .5);
}

.memberActionIcon:hover {
  color: rgba(0, 0, 0, .8);
}

.transparent-color {
  color: transparent;
}

.info-row .input-group {
  margin: 0;
  width: 300px;
}

.group-start td {
  padding: 5px;
}

.stat-container {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #EEEEEE;
}

.stat-container span {
  font-size: 18px;
  color: green;
}

.stat-container h5 {
  margin-bottom: 30px;
}

.waves-logo{
  height: 27px;
}